:root {

    --body-background-color: #020227;
    --car-canvas-background-color: #ffffff;
    --network-canvas-background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--body-background-color);
    height: 100%;
    overflow: hidden; /*always the body will be overflowing from the bottom*/
}

.canvasContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    border:  1px solid white;
    border-top: 0;
    border-bottom: 0;
}
#roadCanvas {
    background-color: var(--car-canvas-background-color);
    /*height & width havebeen set clients-ide*/
}

#networkCanvas {
    background-color: var(--network-canvas-background-color);
    
}